html, body {
  overflow-x: hidden;
}
body {
  background-color: #231f20;
  color: #d0d2d3;
  max-height: 100%;
 /* background-image: url("/SlyngstadCartoons/backgroundLRG.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;*/
}
/*
@media screen and (max-width: 375px) {
  body {
  background-color: #231f20;
  color: #d0d2d3;
  max-height: 100%;
  background-image: url("/SlyngstadCartoons/backgroundIMG.png");
  background-size: contain;
  background-repeat: no-repeat;
  }
}*/



form {
  margin: 0rem;
}

a, a:link, a:visited {
  color: #929497;
}
a:hover, a:focus {
  color: #D0D2D3;
}

#wrap {
  position: static;
}

.container {
  padding-top: 5rem;
}

.sub-text {
  font-weight: 600;
}

.img-container img {
  width: 100%;
  height: auto;
}

.img-container.main-logo {
  margin-top: -4em;
  width: 100%;
}

.sub-text h4 {
  text-align: center;
  width: 100%;
  max-width: 27rem;
  margin: 0px auto;
}

.twitter-submission {
  text-align: center;
  margin-top: 1rem;
}
.twitter-submission > .col-md-12 > * {
  display: inline-block;
}
.twitter-submission span {
  font-weight: 700;
  color: #1cc665;
}
.twitter-submission button.button {
  border-radius: .2rem;
  border: 1px solid #1cc665;
  color: #ffffff;
  background-color: #1cc665;
  padding: .8rem 1rem;
  margin-top: 0rem;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}
.twitter-submission button.button:hover {
  background-color: #76E4A5;
  border-color: #76E4A5;
}
.twitter-submission input {
  color: #1cc665;
  display: inline-block;
  width: auto;
  border-radius: 0px;
  margin: 0px .6rem;
  height: 2.6rem;
}
.twitter-submission .form-control:focus {
  border-color: #1cc665;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(28,198,101,.8);
}
.twitter-submission input::-webkit-input-placeholder { color: #b3b3b3; }
.twitter-submission input:-moz-input-placeholder { color: #b3b3b3; }
.twitter-submission input:-webkit-input-placeholder { color: #b3b3b3; }
.twitter-submission input:-moz-input-placeholder { color: #b3b3b3; }
.twitter-submission input:-ms-input-placeholder { color: #b3b3b3; }
.twitter-submission .loading {
  display: block;
  width: 2rem;
  height: auto;
  margin: 1rem auto;
  display: none;
}
.twitter-submission .loading.show {
  display: block;
}
.twitter-submission .loading img {
  width: 100%;
  height: auto;
}

.alert {
  text-align: center;
  margin: 0px;
}
.alert p {
  color: #f04e37;
  margin: 0px auto;
}

.extra-links {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/*.celebrities {
  width: 100%;
  height: 21.875rem;
  position: absolute;
  left: 0rem;
  text-align: center;
  overflow: hidden;
}*/
/*.celebrities .centered-container {
  display: inline-block;
  width: 85rem;
  height: 100%;
  position: absolute;
  margin: auto;
  left: -9999px;
  right: -9999px;
  position: absolute;
}*/
.shrinked {
  -webkit-transform: scale(0) rotateZ(-30deg);
  -moz-transform: scale(0) rotateZ(-30deg);
  -o-transform: scale(0) rotateZ(-30deg);
  transform: scale(0) rotateZ(-30deg);
}
.expanded {
  -webkit-transform: scale(1) rotateZ(0deg) translateZ(0px);
  -moz-transform: scale(1) rotateZ(0deg) translateZ(0px);
  -o-transform: scale(1) rotateZ(0deg) translateZ(0px);
  transform: scale(1) rotateZ(0deg) translateZ(0px);
}
/*.celebrities .celeb-img {
  /*border-radius: 50%;*/
  /*position: absolute;
  overflow: hidden;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}*/

.inputDiv {
  position: relative;
  max-width: 400px;
  /*display: inline-block;*/
}

.politicians {
  position: absolute !important;
}

/* Ex-Large Devices, Wide Screens */
/*@media only screen and (max-width : 9999px) {*/


#carson {
  display: none;
  max-height: 23em;
  left: -20em;
  top: 12em; 
}

#christie {
  display: none;
  max-width: 12vw;
  top: 9em;
  left: 91em;  
}

#cruz {
  display: none;
  max-height: 15em;
  left: 13em;
  top: 28em;  
}

#fiorina{
  display: none;
  max-height: 18em;
  left: 29em;
  top: 21em;
}

#huckabee {
  display: none;
  max-height:22em;
  left: 47em;
  top: 22em;
}

#jeb {
  display: none;
  max-height: 18em;
  left: -45em;
  top: 7em;
}

#kaine {
  display: none;
  max-height: 18em;
  left: 38em;
  top: 7em;
}

#rand {
  display: none;
  max-height: 25em;
  left: -35em;
  top: 15em; 
}


/*THIRD ANIMATION*/
#biden {
  max-width: 50%;
  min-width: 40%;
  width: 16vw;
  left: -12vw;
  top: 15em;
}
#pence {
  max-width: 45%;
  min-width: 30%;
  width: 16vw;
  left: 25vw;
  top: 13em;
}
#bernie {
  max-width: 60%;
  min-width: 45%;
  width: 16vw;
  left: -1vw;
  top: 10em;
}
#bill {
  max-width: 45%;
  min-width: 35%;
  width: 12vw;
  left: 14em;
  top: 9em;
}
#palin {
  max-width: 50%;
  min-width: 30%;
  width: 15vw;
  left: 30vw;
  top: -1em;
}
#hillz {
  max-width: 60%;
  min-width: 50%;
  width: 15vw;
  left: -20vw;
  top: 3em;
  
}

@media only screen and (max-width : 1609px) { 
  #palin { 
    max-width: 50%;
    min-width: 40%;
    width: 13vw;
    left: 500px;
    top: -1em;
  }
}
@media only screen and (max-width: 1400px) {
  #biden {
  max-width: 50%;
  min-width: 35%;
  width: 16vw;
  left: -14vw;
  top: 16em;
}
#pence {
  max-width: 45%;
  min-width: 25%;
  width: 14vw;
  left: 28vw;
  top: 14em;
}
}

@media only screen and (max-width : 1200px) { 
  #hillz {
    max-width: 60%;
    min-width: 40%;
    width: 15vw;
    left: -20vw;
    top: 3em;
  }
  #palin { 
    max-width: 50%;
    min-width: 40%;
    width: 13vw;
    left: 450px;
    top: -1em;
  }
}
@media only screen and (max-width: 1085px) {
  #biden {
  max-width: 50%;
  min-width: 35%;
  width: 16vw;
  left: -14vw;
  top: 16em;
}
#pence {
  max-width: 45%;
  min-width: 25%;
  width: 14vw;
  left: 34vw;
  top: 14em;
}
}

@media only screen and (max-width : 900px) { 
#biden {
  max-width: 50%;
  min-width: 35%;
  width: 16vw;
  left: 0;
  top: 22em;
}
#pence {
  max-width: 45%;
  min-width: 30%;
  width: 14vw;
  left: 18em;
  top: 21em;
}
#bernie {
  max-width: 60%;
  min-width: 45%;
  width: 16vw;
  left: 2em;
  top: 10em;
  }
  #bill {
  max-width: 45%;
  min-width: 35%;
  width: 12vw;
  left: 14em;
  top: 9em;
  }
  #hillz {
    max-width: 60%;
    min-width: 45%;
    width: 15vw;
    left: -15vw;
    top: 12em;
  }
  #palin { 
    max-width: 50%;
    min-width: 40%;
    width: 13vw;
    left: 95%;
    top: 12em;
  }
}
@media only screen and (max-width : 600px) { 
#biden {
  max-width: 50%;
  min-width: 35%;
  width: 16vw;
  left: 0;
  top: 25em;
}
#pence {
  max-width: 45%;
  min-width: 30%;
  width: 14vw;
  left: 18em;
  top: 24em;
}
  #bernie {
    max-width: 60%;
    min-width: 45%;
    width: 16vw;
    left: 5em;
    top: 10em;
  }
  #bill {
    max-width: 45%;
    min-width: 35%;
    width: 12vw;
    left: 11em;
    top: 15em;
  }
  #hillz {
    max-width: 60%;
    min-width: 45%;
    width: 15vw;
    left: -8vw;
    top: 15em;
  }
  #palin { 
    max-width: 50%;
    min-width: 40%;
    width: 13vw;
    left: 85%;
    top: 16em;
  }
}
/*
@media only screen and (max-width : 570px) { 
  
}*/

@media only screen and (max-width : 460px) { 
#biden {
  max-width: 50%;
  min-width: 40%;
  width: 16vw;
  left: 0;
  top: 25em;
}
#pence {
  max-width: 45%;
  min-width: 35%;
  width: 14vw;
  left: 16em;
  top: 24em;
}
  #bill {
    max-width: 45%;
    min-width: 35%;
    width: 12vw;
    left: 9em;
    top: 17em;
  }
  #palin { 
    max-width: 50%;
    min-width: 40%;
    width: 13vw;
    left: 80%;
    top: 14em;
  }
}

@media only screen and (max-width : 380px) { 
#biden {
  max-width: 50%;
  min-width: 40%;
  width: 16vw;
  left: 0;
  top: 25em;
}
#pence {
  max-width: 45%;
  min-width: 35%;
  width: 14vw;
  left: 14em;
  top: 27em;
}
  #bill {
    max-width: 45%;
    min-width: 35%;
    width: 12vw;
    left: 8em;
    top: 21em;
  }
  #palin { 
    max-width: 50%;
    min-width: 40%;
    width: 13vw;
    left: 70%;
    top: 15em;
  }
}
/*GALAXYS5*/
@media only screen and (width : 360px) and (max-height: 640px) {
  #biden {
  max-width: 50%;
  min-width: 35%;
  width: 16vw;
  left: 0;
  top: 25em !important;
}
#pence {
  max-width: 45%;
  min-width: 30%;
  width: 14vw;
  left: 13em;
  top: 24em !important;
}
  #bernie {
    max-width: 60%;
    min-width: 45%;
    width: 16vw;
    left: 4em;
    top: 8em;
  }
  #bill {
    max-width: 45%;
    min-width: 35%;
    width: 12vw;
    left: 7.5em;
    top: 15em;
  }
  #hillz {
    max-width: 60%;
    min-width: 45%;
    width: 15vw;
    left: -8vw;
    top: 15em;
  }
  #palin { 
    max-width: 50%;
    min-width: 40%;
    width: 13vw;
    left: 75%;
    top: 15em;
  }
  #mcConnell{
    display: none;
  }
  #rubio {
    display: none;
  }

  #bohener {
    display: none;
  }

  #ryan { 
  display: none;
  }
}
/*IPHONE5*/
@media only screen and (width : 320px) and (max-height: 568px) {
  #biden {
  max-width: 50%;
  min-width: 35%;
  width: 16vw;
  left: 0;
  top: 21em !important;
}
#pence {
  display: none;
  max-width: 45%;
  min-width: 30%;
  width: 14vw;
  left: 13em;
  top: 21em;
}
  #bernie {
    max-width: 60%;
    min-width: 45%;
    width: 16vw;
    left: 4em;
    top: 8em;
  }
  #bill {
    max-width: 45%;
    min-width: 35%;
    width: 12vw;
    left: 7.8em;
    top: 15em;
  }
  #hillz {
    max-width: 60%;
    min-width: 45%;
    width: 15vw;
    left: -8vw;
    top: 13em;
  }
  #palin { 
    max-width: 50%;
    min-width: 40%;
    width: 13vw;
    left: 75%;
    top: 14em;
  }
}

/*FADE IN/OUT*/
#mcconnell {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 13vw;
  top: 26em;
  left: -20vw;
}

#rubio {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  top: 25em;
  left: -3vw;
}

#bohener {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  top: 26em;
  left: 15vw;
}

#ryan {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  left: 34vw;
  top: 26em;
}
@media only screen and (min-height: 810px) {
  #mcconnell {
    top: 30em;
  }
  #bohener {
    top: 32em;
  }
  #rubio {
    top: 32em;
  }
  #ryan {
    top: 32em;
  }
}

@media only screen and (max-height: 645px) and (min-width: 900px){
#biden {
  top: 14em;
}
#pence {
  top: 13em;
}
  #mcconnell {
  /*display: none;*/

  top: 14em !important;

}

#rubio {
  /*display: none;*/
  top: 13em !important;
}

#bohener {
  /*display: none;*/
  top: 14em !important;
}

#ryan {
  /*display: none;*/
  top: 14em !important;
}
}

@media only screen and (max-height: 720px) {
  #mcconnell {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 13vw;
  top: 18em;
  left: -20vw;
}

#rubio {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  top: 19em;
  left: -3vw;
}

#bohener {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  top: 20em;
  left: 15vw;
}

#ryan {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  left: 34vw;
  top: 20em;
}
}

@media only screen and (max-width : 1220px) {
#mcconnell {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 13vw;
  top: 26em;
  left: -50%;
}

#rubio {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  top: 25em;
  left: 0%;
}

#bohener {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  top: 26em;
  left: 50%;
}

#ryan {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  left: 100%;
  top: 26em;
}
}
@media only screen and (max-width : 678px) {
#mcconnell {
  display: none;
}

#rubio {
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  top: 25em;
  left: -17%;
}

#bohener {
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  top: 26em;
  left: 30%;
}

#ryan {
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  left: 75%;
  top: 26em;
}
}
/*@media only screen and (max-width : 375px) {
#mcconnell {
  display: none;
  max-width: 50%;
  min-width: 40%;
  width: 13vw;
  top: 26em;
  left: -50%;
}

#rubio {
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  top: 25em;
  left: -10%;
}

#bohener {
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  top: 26em;
  left: 30%;
}

#ryan {
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  left: 70%;
  top: 26em;
}
}*/

/*NEXUS6P*/

/*IPHONE5*/
@media only screen and (width : 320px) and (height: 568px) {
#mcconnell {
  display: none;
  max-width: 50%;
  min-width: 40%;
  width: 13vw;
  top: 20em;
  left: -50%;
}

#rubio {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  top: 23em !important;
  left: -10%;
}

#bohener {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  top: 23em!important;
  left: 30%;
}

#ryan {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  left: 70%;
  top: 23em !important;
}
}
/*IPHONE6*/
@media only screen and (width : 375px) and (height: 667px) {
#mcconnell {
  display: none;
}

#rubio {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  top: 30em;
  left: -10%;
}

#bohener {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  top: 31em;
  left: 30%;
}

#ryan {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  left: 70%;
  top: 31em;
}
}
/*IPHONE6PLUS*/
@media only screen and (width : 414px) and (height: 736px) {
#mcconnell {
  display: none;
}

#rubio {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  top: 34em;
  left: -10%;
}

#bohener {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  top: 35em;
  left: 30%;
}

#ryan {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 15vw;
  left: 70%;
  top: 35em;
}
}
/*IPAD*/
@media only screen and (width : 768px) and (height: 1024px) {
#mcconnell {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 10vw;
  top: 42em;
  left: -50%;
}

#rubio {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 19vw;
  top: 43em;
  left: 0%;
}

#bohener {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 19vw;
  top: 43em;
  left: 50%;
}

#ryan {
  /*display: none;*/
  max-width: 50%;
  min-width: 40%;
  width: 25vw;
  left: 100%;
  top: 43em;
}
}


/*THIS WORKS ON ALL SCREEN SIZES!*/
/*ALWAYS THERE*/

#trump {
  /*display: none;*/
  max-width: 40%;
  min-width: 28%;
  width: 10vw;
  left: -8vw;
  top: 0;
}
@media only screen and (max-width : 920px) {
  #trump {
  max-width: 40%;
  min-width: 28%;
  width: 10vw;
  left: -23%;
  top: 0;
  }
}

@media only screen and (max-width : 320px) {
  #trump {
    max-width: 40%;
    min-width: 28%;
    width: 10vw;
    left: -8%;
    top: 4em;
  }
}
#obama {
  /*display: none;*/
  max-width: 38%;
  min-width: 28%;
  width: 10vw;
  top: -2em;
  left: 360px;
}

@media only screen and (max-width : 460px) {
  #obama {
    max-width: 38%;
    min-width: 28%;
    width: 10vw;
    top: 3em;
    left: 210px !important;
  }
}

@media only screen and (max-width : 600px) {
  #obama {
    max-width: 38%;
    min-width: 28%;
    width: 10vw;
    top: 3em;
    left: 260px;
  }
  #trump {
    max-width: 40%;
    min-width: 28%;
    width: 10vw;
    left: -7%;
    top: 4em;
  }
}

/* Large Devices, Wide Screens (macbook pro 15in 1440 x 900) */
/*@media only screen and (max-width : 1440px) {
#bernie {
  max-width: 100%;
  height: auto;
  width: auto/9;
  left: 0em;
  top: 11em;
}

#biden {
  top: 25em;
  left: 57em;
  max-height: 19em;
}

#bill {
  max-height: 17em;
  left: 15em;
  top: 3em;
}

#bohener {
  max-height: 14em;
  top: 32em;
  left: 1em;
}

#carson {
  max-height: 21em;
  left: -20em;
  top: 12em; 
}

#christie {
  max-height: 13em;
  left: 57em;
  top: 6em;
}

#cruz {
  max-height: 12em;
  left: 13em;
  top: 28em;  
}

#fiorina{
  max-height: 15em;
  left: 29em;
  top: 21em;
}

#hillz {
  max-height: 13em;
  left: -36em;
  top: -1em;
}

#huckabee {
  max-height: 19em;
  left: 47em;
  top: 22em;
}

#jeb {
  max-height: 15em;
  left: -45em;
  top: 7em;
}

#kaine {
  max-height: 15em;
  left: 38em;
  top: 7em;
}

#mcconnell {
  max-height: 15em;
  top: 27em;
  left: -38em;
}

#obama {
  max-height: 18em;
  top: -3em;
  left: 29em;
}
#palin {
  max-height: 18em;
  left: 46em;
  top: -4em;
}
#pence {
  max-height: 20em;
  left: -9em;
  top: 21em;
}

#rand {
  max-height: 22em;
  left: -32em;
  top: 14em; 
}

#rubio {
  max-height: 16em;
  top: 28em;
  left: -27em;
}
#ryan {
  max-height: 12em;
  left: 35em;
  top: 32em;
}
#trump {
  max-height: 20em;
  left: -13em;
  top: -3em;
}
}

/* Medium Devices, Desktops */
/*@media only screen and (max-width : 992px) {
}
*/
/* Small Devices, Tablets */
/*@media only screen and (max-width : 768px) {

}*/

/* Extra Small Devices, Phones */ 
/*@media only screen and (max-width : 480px) {

}*/

/* Custom, iPhone Retina */ 
/*@media only screen and (max-width : 320px) {

}*/

/**
* Media Queries
*/
@media screen and (max-width: 375px) {
  /* adding top margin to button when it collapses to next line */
  .twitter-submission button.button {
    margin-top: 1rem;
  }
}
