html, body {
  overflow-x: hidden;
}
body {
  background-color: #231f20;
  color: #d0d2d3;
  max-height: 100%;
 /* background-image: url("/SlyngstadCartoons/backgroundLRG.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;*/
}
/*
@media screen and (max-width: 375px) {
  body {
  background-color: #231f20;
  color: #d0d2d3;
  max-height: 100%;
  background-image: url("/SlyngstadCartoons/backgroundIMG.png");
  background-size: contain;
  background-repeat: no-repeat;
  }
}*/



form {
  margin: 0rem;
}

a, a:link, a:visited {
  color: #929497;
}
a:hover, a:focus {
  color: #D0D2D3;
}

#wrap {
  position: static;
}

.container {
  padding-top: 5rem;
}

.sub-text {
  font-weight: 600;
}

.img-container img {
  width: 100%;
  height: auto;
}

.img-container.main-logo {
  width: 100%;
}

.sub-text h4 {
  text-align: center;
  width: 100%;
  max-width: 27rem;
  margin: 0px auto;
}

.twitter-submission {
  text-align: center;
  margin-top: 1rem;
}
.twitter-submission > .col-md-12 > * {
  display: inline-block;
}
.twitter-submission span {
  font-weight: 700;
  color: #1cc665;
}
.twitter-submission button.button {
  border-radius: .2rem;
  border: 1px solid #1cc665;
  color: #ffffff;
  background-color: #1cc665;
  padding: .8rem 1rem;
  margin-top: 0rem;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}
.twitter-submission button.button:hover {
  background-color: #76E4A5;
  border-color: #76E4A5;
}
.twitter-submission input {
  color: #1cc665;
  display: inline-block;
  width: auto;
  border-radius: 0px;
  margin: 0px .6rem;
  height: 2.6rem;
}
.twitter-submission .form-control:focus {
  border-color: #1cc665;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(28,198,101,.8);
}
.twitter-submission input::-webkit-input-placeholder { color: #b3b3b3; }
.twitter-submission input:-moz-input-placeholder { color: #b3b3b3; }
.twitter-submission input:-webkit-input-placeholder { color: #b3b3b3; }
.twitter-submission input:-moz-input-placeholder { color: #b3b3b3; }
.twitter-submission input:-ms-input-placeholder { color: #b3b3b3; }
.twitter-submission .loading {
  display: block;
  width: 2rem;
  height: auto;
  margin: 1rem auto;
  display: none;
}
.twitter-submission .loading.show {
  display: block;
}
.twitter-submission .loading img {
  width: 100%;
  height: auto;
}

.alert {
  text-align: center;
  margin: 0px;
}
.alert p {
  color: #f04e37;
  margin: 0px auto;
}

.extra-links {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/*.celebrities {
  width: 100%;
  height: 21.875rem;
  position: absolute;
  left: 0rem;
  text-align: center;
  overflow: hidden;
}*/
/*.celebrities .centered-container {
  display: inline-block;
  width: 85rem;
  height: 100%;
  position: absolute;
  margin: auto;
  left: -9999px;
  right: -9999px;
  position: absolute;
}*/
.shrinked {
  -webkit-transform: scale(0) rotateZ(-30deg);
  -moz-transform: scale(0) rotateZ(-30deg);
  -o-transform: scale(0) rotateZ(-30deg);
  transform: scale(0) rotateZ(-30deg);
}
.expanded {
  -webkit-transform: scale(1) rotateZ(0deg) translateZ(0px);
  -moz-transform: scale(1) rotateZ(0deg) translateZ(0px);
  -o-transform: scale(1) rotateZ(0deg) translateZ(0px);
  transform: scale(1) rotateZ(0deg) translateZ(0px);
}
/*.celebrities .celeb-img {
  /*border-radius: 50%;*/
  /*position: absolute;
  overflow: hidden;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}*/

.inputDiv {
  position: relative;
  max-width: 400px;
  /*display: inline-block;*/
}

.politicians {
  position: absolute !important;
}

/* Ex-Large Devices, Wide Screens */
/*@media only screen and (max-width : 9999px) {*/
#bernie {
  display: none;
  max-width: 60%;
  min-width:;
  width: 15vw;
  left: -1em;
  top: 10em;
}

#biden {
  display: none;
  max-width: 13vw;
  min-width: 150px;
  padding: .01vw;
}

#bill {
  display: none;
  max-width: 50%;
  height: auto;
  width: 15vw;
  left: 15em;
  top: 3em;
}

#bohener {
  display: none;
  max-height: 17em;
  top: 32em;
  left: 1em;
}

#carson {
  display: none;
  max-height: 23em;
  left: -20em;
  top: 12em; 
}

#christie {
  display: none;
  max-width: 12vw;
  top: 9em;
  left: 91em;  
}

#cruz {
  display: none;
  max-height: 15em;
  left: 13em;
  top: 28em;  
}

#fiorina{
  display: none;
  max-height: 18em;
  left: 29em;
  top: 21em;
}

#hillz {
  display: none;
  max-width: 60%;
  min-width: 30%;
  width: 15vw;
  left: -20vw;
  top: 3em;
  
}
@media only screen and (max-width : 640px) {
  #hillz {
  max-width: 60%;
  min-width: 30%;
  width: 15vw;
  left: -20vw;
  top: 8em;
  
  }
}

#huckabee {
  display: none;
  max-height:22em;
  left: 47em;
  top: 22em;
}

#jeb {
  display: none;
  max-height: 18em;
  left: -45em;
  top: 7em;
}

#kaine {
  display: none;
  max-height: 18em;
  left: 38em;
  top: 7em;
}

#mcconnell {
  display: none;
  max-height: 18em;
  top: 31em;
  left: -46em;
}

#palin {
  display: none;
  max-height: 21em;
  left: 46em;
  top: -4em;
}
#pence {
  display: none;
  max-height: 23em;
  left: -9em;
  top: 21em;
}

#rand {
  display: none;
  max-height: 25em;
  left: -35em;
  top: 15em; 
}

#rubio {
  display: none;
  max-height: 19em;
  top: 28em;
  left: -27em;
}
#ryan {
  display: none;
  max-height: 15em;
  left: 35em;
  top: 32em;
}




/*THIS WORKS!*/

#trump {
  /*display: none;*/
  max-width: 40%;
  min-width: 28%;
  width: 10vw;
  left: -8vw;
  top: 0;
}
@media only screen and (max-width : 920px) {
  #trump {
  max-width: 40%;
  min-width: 28%;
  width: 10vw;
  left: -23%;
  top: 0;
  
  }
}

@media only screen and (max-width : 320px) {
  #trump {
    max-width: 40%;
    min-width: 28%;
    width: 10vw;
    left: -8%;
    top: 4em;
  }
}
#obama {
  /*display: none;*/
  max-width: 38%;
  min-width: 28%;
  width: 10vw;
  top: -2em;
  left: 360px;
}

@media only screen and (max-width : 460px) {
  #obama {
    max-width: 38%;
    min-width: 28%;
    width: 10vw;
    top: 3em;
    left: 210px;
  }
}

@media only screen and (max-width : 600px) {
  #obama {
    max-width: 38%;
    min-width: 28%;
    width: 10vw;
    top: 3em;
    left: 280px;
  }
  #trump {
    max-width: 40%;
    min-width: 28%;
    width: 10vw;
    left: -7%;
    top: 4em;
  }
}

/* Large Devices, Wide Screens (macbook pro 15in 1440 x 900) */
/*@media only screen and (max-width : 1440px) {
#bernie {
  max-width: 100%;
  height: auto;
  width: auto/9;
  left: 0em;
  top: 11em;
}

#biden {
  top: 25em;
  left: 57em;
  max-height: 19em;
}

#bill {
  max-height: 17em;
  left: 15em;
  top: 3em;
}

#bohener {
  max-height: 14em;
  top: 32em;
  left: 1em;
}

#carson {
  max-height: 21em;
  left: -20em;
  top: 12em; 
}

#christie {
  max-height: 13em;
  left: 57em;
  top: 6em;
}

#cruz {
  max-height: 12em;
  left: 13em;
  top: 28em;  
}

#fiorina{
  max-height: 15em;
  left: 29em;
  top: 21em;
}

#hillz {
  max-height: 13em;
  left: -36em;
  top: -1em;
}

#huckabee {
  max-height: 19em;
  left: 47em;
  top: 22em;
}

#jeb {
  max-height: 15em;
  left: -45em;
  top: 7em;
}

#kaine {
  max-height: 15em;
  left: 38em;
  top: 7em;
}

#mcconnell {
  max-height: 15em;
  top: 27em;
  left: -38em;
}

#obama {
  max-height: 18em;
  top: -3em;
  left: 29em;
}
#palin {
  max-height: 18em;
  left: 46em;
  top: -4em;
}
#pence {
  max-height: 20em;
  left: -9em;
  top: 21em;
}

#rand {
  max-height: 22em;
  left: -32em;
  top: 14em; 
}

#rubio {
  max-height: 16em;
  top: 28em;
  left: -27em;
}
#ryan {
  max-height: 12em;
  left: 35em;
  top: 32em;
}
#trump {
  max-height: 20em;
  left: -13em;
  top: -3em;
}
}

/* Medium Devices, Desktops */
/*@media only screen and (max-width : 992px) {
}
*/
/* Small Devices, Tablets */
/*@media only screen and (max-width : 768px) {

}*/

/* Extra Small Devices, Phones */ 
/*@media only screen and (max-width : 480px) {

}*/

/* Custom, iPhone Retina */ 
/*@media only screen and (max-width : 320px) {

}*/

/**
* Media Queries
*/
@media screen and (max-width: 375px) {
  /* adding top margin to button when it collapses to next line */
  .twitter-submission button.button {
    margin-top: 1rem;
  }
}
